.mb-30 {
  margin-bottom: 30px;
}
.mt-30 {
  margin-top: 30px;
}
.text-center {
  text-align: center;
}
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.flex-grow {
  flex-grow: 1;
}
ion-icon {
  font-size: 20px;
  vertical-align: middle;
}
